[Bb]in/
[Oo]bj/

.idea/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.sln.DotSettings.user

TestResults/
*.coverage
*.coveragexml

appsettings.Development.json
appsettings.Local.json
secrets.json

.DS_Store
Thumbs.db
ehthumbs.db

*.log

k6-tests/reports/
k6-tests/*.html